<h1>Welcome to the Sample App</h1>

<% if user_signed_in? %>
  <p>
    <%= form_with url: destroy_user_session_path, method: :delete do |form| %>
      <%= form.submit "ログアウト", class: 'dropdown-item' %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to 'ログイン', new_user_session_path %> |
    <%= link_to 'サインアップ', new_user_registration_path %> |
    <%= link_to 'ゲストログイン', guest_login_path, method: :post %>
  </p>
<% end %>
