<!DOCTYPE html>

<html lang="ja">
  <head>
    <%= render 'layouts/head' %>
  </head>
  
  <body>
    <%= render "layouts/header" %>
    
    <%= yield %>
    
    <%= render 'layouts/flash_messages' %>
    
    <footer class="footer">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
