<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= render 'layouts/head' %>
  </head>
  
  <body>
    <%= render "layouts/header" %>
    
    <%= yield %>
    
    <%= render "layouts/flash_messages" %>
    
    <%= render "layouts/footer" %>
  </body>
