<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>温泉地ライブラリ</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto"> <!-- ms-auto から mx-auto に変更 -->
                    <li class="nav-item">
                        <a class="nav-link active" href="<%= user_signed_in? ? index_path : root_path %>">
                            <i class="fas fa-home"></i> ホーム
                        </a>
                    </li>
                    <% if user_signed_in? %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> 
                                <%= current_user.email == 'guest@example.com' ? 'ゲスト' : current_user.name %>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="<%= index_path %>">マイページ</a></li>
                                <li><a class="dropdown-item" href="<%= edit_user_registration_path %>">設定</a></li>
                                <li>
                                    <%= form_with url: destroy_user_session_path, method: :delete, local: true do |form| %>
                                        <%= form.submit "ログアウト", class: 'dropdown-item' %>
                                    <% end %>
                                </li>
                                <li><a class="dropdown-item" href="<%= cancel_user_registration_path %>">退会</a></li>
                            </ul>
                        </li>
                    <% else %>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= new_user_registration_path %>"><i class="fas fa-user-plus"></i> 新規登録</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= new_user_session_path %>"><i class="fas fa-sign-in-alt"></i> ログイン</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= guest_login_path %>"><i class="fas fa-user-friends"></i> ゲストログイン</a>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>

    <%= yield %>
  
</body>
</html>
